* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.editor-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.debugger {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 9999;
}